.jumbotron {
  padding-top: 5rem;
  background-color: #e2edff;
}

#sertification {
  background-color: #e2edff;
}

#project {
  background-color: #ffffff;
}

#contact {
  background-color: #e2edff;
}
